/**
 * @Author: davidbenque
 * @Date:   2018-06-08 11:55:09
 * @Last modified by:   davidbenque
 * @Last modified time: 2018-06-08 8:47:23
 */

html{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

body.landing{
background-color: #1b263b;
text-align: center;
color: white;
font-size: 1.2em;
margin:5px;
padding: 0px;
}

body.landing > img{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 540px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.79);
-moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.79);
box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.79);
}

body.landing > #container > a{
  color: white;
  text-decoration: underline;
  font-style: italic;
}

body.landing > #container > a:hover{
  background-color: transparent;
  text-decoration: none;
}


h1{
  font-weight: normal;
}

h4{
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  margin-top: 0px;
}

.markdown>h4>a{
  color:black;
}

.markdown>h4>a:hover{
  color:black;
  background-color: white;
  text-decoration: underline;
}

p {

}

p.todo{
  font-size: 1em;
  margin: 5px 0px;
}

p.done{
  font-size: 3em;
  margin: 0px;
}

p > img{
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover{
  background-color: #faff00
}

div.markdown > iframe{
  width:100%;
  height: 800px;
}


.markdown > img{

  max-width: 100%;
}
svg {
  max-width: 100%;
}

text {
  fill-opacity: 1;
  fill: black;
}

.legend{
  font-size: 0.8em;
  line-height: 150%;
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
}

.legend>hr{
  margin: 5px 0px;
  padding: 0px;
}

.legend>span{
  display: block;
}

.focus{
  color:#FF0000;
}

.officer{
  color: #ff69f9;
}

.entity{
  color: #0e438a;
}

.address{
  color: #8bf156;
}

.intermediary{
  color: #ff8200;
}
