/**
 * @Author: davidbenque
 * @Date:   2018-06-08 11:55:09
 * @Last modified by:   davidbenque
 * @Last modified time: 2018-06-08 8:47:23
 */

html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
}

p {

}

p.todo{
  font-size: 1em;
  margin: 5px 0px;
}

p.done{
  font-size: 3em;
  margin: 0px;
}

p > img{
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover{
  background-color: #fff500
}
